/CMakeFiles
/bin
/lib
*.cmake
*.vcxproj
*.filters
*.user
*.sln
/CMakeCache.txt
/.vs/skalog/v15
/.vs/Project/v15
/src/CMakeFiles
/src/skalog.dir/Debug
/test/CMakeFiles
/test/skalog_test.dir/Debug
/Win32/Debug
